.menu {
    background-color: #202020;
    width: 520px;
    height: 100vh;
    display: none;
    position: absolute;
    opacity: 1;
    top: 0;
    right: 0;
    z-index: 10;
}

@media screen and (max-width: 568px) {

    .menu {
        width: 100%;
    }
}

.menu_open {
    display: flex;
    z-index: 20;
    height: 100%;   
}

.menu__button-close {
    background: url('../../images/button-close.svg');
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: transparent;
}

.menu__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu__list {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 159px;
    margin-bottom: 500px;
}

@media screen and (max-width: 568px) {

    .menu__list {
        margin-bottom: 300px;
    }
}

.menu__list-item {
    margin-bottom: 28px;
}

.menu__list-item:last-of-type {
    margin-bottom: 0;
}

.menu__list-item-link {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.menu__profile-link {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    
}

.menu__account-link {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
   
}

.menu__account-button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    position: relative;
    background-color: #0F4157;
    padding: 0;
    background-color: rgba(49, 49, 49, 1);
}

.menu__account-icon {
    content: "";
    z-index: 1;
    background-image: url(../../images/account-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: 10px;
}