.portfolio {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.portfolio__title {
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 960px) {

    .portfolio__title {
        margin-left: 50px;
        
    }
}

@media screen and (max-width: 568px) {

    .portfolio__title {
        margin-right: 14px;
        margin-left: 14px;
        margin-bottom: 40px;
        font-size: 14px;
    }
}

.portfolio__list {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 125px;
}

@media screen and (max-width: 960px) {

    .portfolio__list {
        margin: 0 50px 90px 50px;
    }
}

@media screen and (max-width: 568px) {

    .portfolio__list {
        margin: 0 14px 70px 14px;
    }
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    align-items: center;
    margin-bottom: 19px;
    padding-bottom: 20px;
    text-decoration: none;
}

.portfolio__item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {

    .portfolio__item {
        border-bottom: 1px solid #E6E6E6;
    }
}

.portfolio__item-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    margin-bottom: 19px;
    margin: 0;
    text-decoration: none;
}

.portfolio__item-title:hover {
    opacity: .7;
}

@media screen and (max-width: 960px) {

    .portfolio__item-title {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 568px) {

    .portfolio__item-title {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}


.portfolio__item-link {
    display: flex;    
    text-decoration: none;
    color: white;
    width: 23px;

}

@media screen and (max-width: 568px) {

    .portfolio__item-link {
        height: 14px;
        width: 15px;
        
    }
}

.portfolio__item-link-image {
    width: 17px;
    height: 20px;
    display: flex;
    align-self: center;

}

@media screen and (max-width: 568px) {

    .portfolio__item-link-image {
        height: 10px;
        width: 15px;
    }
}