.promo {
    
    display: flex;
    background-color: #073042;
    flex-direction: column;
    position: relative;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.promo__title {
    max-width: 640px;
    margin: 75px 70px 36px 70px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
}

@media screen and (max-width: 1160px) {
    
    .promo__title {
        margin: 0 auto;
        width: 90%;
        padding-top: 492px;
        padding-bottom: 22px;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 767px) {
    
    .promo__title {
       
        padding-top: 320px;
        padding-bottom: 24px;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
    }
}

.promo__subtitle {
    max-width: 310px;
    margin-left: 70px;
    margin-bottom: 146px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

@media screen and (max-width: 1160px) {
    
    .promo__subtitle {
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 92px;        
    }
}

@media screen and (max-width: 767px) {
    
    .promo__subtitle {
        margin-bottom: 80px;
        
    }
}

.promo__button {
    width: 129px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #FFF;
    margin-top: 0;
    margin-left: 70px;
    margin-bottom: 75px;
    display: flex;
}

@media screen and (max-width: 1160px) {
    
    .promo__button {
        margin: 0 auto;
        margin-bottom: 76px;
                        
    }
}

@media screen and (max-width: 767px) {
    
    .promo__button {
        margin-bottom: 30px;
                
    }
}

.promo__button-text {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    background-color: #073042;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.promo__picture {
    width: 310px;
    height: 304px;
    position: absolute;
    top: 75px;
    right: 70px;
    object-fit: cover;
}

@media screen and (max-width: 1160px) {
    
    .promo__picture {
        top: 140px;
        right: calc((max-width - width) / 2);
    }
}

@media screen and (max-width: 1080px) {
    
    .promo__picture {
        right: 350px;
    }
}

@media screen and (max-width: 980px) {
    
    .promo__picture {
        right: 330px;
    }
}

@media screen and (max-width: 880px) {
    
    .promo__picture {
        right: 229px;
    }
}

@media screen and (max-width: 767px) {
    
    .promo__picture {
        width: 210px;
        height: 206px;
        top: 70px;
        right: 55px;
    }
}

@media screen and (max-width: 680px) {
    
    .promo__picture {
        right: 230px;
    }
}

@media screen and (max-width: 580px) {
    
    .promo__picture {
        right: 180px;
    }
}

@media screen and (max-width: 480px) {
    
    .promo__picture {
        right: 130px;
    }
}

@media screen and (max-width: 380px) {
    
    .promo__picture {
        right: 80px;
    }
}

@media screen and (max-width: 325px) {
    
    .promo__picture {
        right: 55px;
    }
}
