.techs {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.techs__title {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin-bottom: 26px;

}

@media screen and (max-width: 1160px) {

    .techs__title {
        margin-bottom: 22px;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {

    .techs__title {
        width: 292px;
        margin-bottom: 24px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}

.techs__subtitle {
    max-width: 460px;
    margin: 0 auto;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1160px) {

    .techs__subtitle {
        width: 90%;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 83px;
    }
}

@media screen and (max-width: 767px) {

    .techs__subtitle {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin-bottom: 50px;
    }
}

.techs__list {
    display: flex;
    justify-content: center;
    min-height: 60px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 10px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1160px) {

    .techs__list {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {

    .techs__list {
        width: 178px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2, 84px);
        row-gap: 10px;
    }
}

.techs__list-item {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #303030;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;

}

@media screen and (max-width: 1160px) {

    .techs__list-item {
        width: 84px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width: 767px) {

    .techs__list-item {
        height: 57px;
    }
}
