@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}

* { outline: 1px solid yellow; }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}