.page__about-me {
    padding-top: 110px;
}

@media screen and (max-width: 1160px) {

    .page__about-me {
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px) {

    .page__about-me {
        padding-top: 70px;
    }
}

.about-me {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.about-me__header {
    max-width: 1140px;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #DADADA;

}

@media screen and (max-width: 960px) {

    .about-me__header {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__header {
        margin-left: 18px;
        margin-right: 18px;
    }
}

.about-me__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    margin: 0;
}

@media screen and (max-width: 568px) {

    .about-me__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }
}

.about-me__content {
    max-width: 1140px;
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

@media screen and (max-width: 960px) {

    .about-me__content {
        margin: 0 50px;
        margin-top: 63px;
        gap: 10px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__content {
        max-width: 292px;
        margin: 0 14px;
        margin-top: 60px;
        flex-direction: column-reverse;
        gap: 0;
    }
}

.about-me__content-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

@media screen and (max-width: 960px) {

    .about-me__content-info {
        max-width: 364px;
    
    }
}

.about-me__main-title {
    
    margin-top: 0;
    margin-bottom: 18px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

@media screen and (max-width: 960px) {

    .about-me__main-title {
        
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__main-title {
        
        margin-top: 35px;
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }
}

.about-me__subtitle {
    
    margin-bottom: 26px;
    margin-top: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

@media screen and (max-width: 960px) {

    .about-me__subtitle {
        
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__subtitle {
        
        font-size: 11px;
        line-height: 16px;
    }
}

.about-me__description {
    
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 99px;
}

@media screen and (max-width: 960px) {

    .about-me__description {
        
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 105px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__description {
        
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 60px;
    }
}

.about-me__link {
    width: 46px;
    margin-top: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 101px;
    text-decoration: none;
}

@media screen and (max-width: 960px) {

    .about-me__link {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 568px) {

    .about-me__link {
        margin-bottom: 70px;
    }
}

.about-me__photo {
    width: 270px;
    height: 327px;
    object-fit: cover;   
    border-radius: 10px;
}

@media screen and (max-width: 960px) {

    .about-me__photo {
        width: 255px;
        height: 307px;
        
    }
}

@media screen and (max-width: 568px) {

    .about-me__photo {
        width: 292px;
        height: 352px;
        
    }
}

